/* Respuestas */
.respuestas {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border-left: 3px solid #3498db;
}

.respuesta {
    padding: 5px 0;
}

textarea.respuesta-input {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

button.enviar-respuesta {
    background-color: #e74c3c; /* Rojo brillante */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button.enviar-respuesta:hover {
    background-color: #c0392b;
}
